In [1]:
#loop contal statements: break ,continue:
for i in range(1,11):
    if i%5==0:
        break
    else:
        print(i)

1
2
3
4

In [2]:
for i in range(1,11):
    if i%5==0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [ ]:
#write a program to validate username and password given by the user.
#If the user gives wrong credentials it should ask for username and password again again until the user gives correct details

In [3]:
username="python"
password="abc123"

In [14]:
while True :
    user = input("enter username")
    if user == "python":
        pwd =input("enter password")
        if pwd == "abc123":
             print("login success!!!!")
                
            break
    else:
        continue

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [ ]:
# pass -->for creating empty block

# functions
blocks of statements
1. predefined(which are already)
   - len(),print(),input(),min()
2. user defined(custom function)

```def function_name(parameter list):
            statements
            return

In [16]:
def name(username):
    print("hello",username)
    
name("nbs")#function calling

hello nbs

In [18]:
def name():
    username="nbs"
    print("hello",username)
    
name()#function calling

hello nbs

In [23]:
def addition(a,b):
    return a+b,a-b

print(addition(7,5))
print(addition(7,6))

(12, 2)
(13, 1)

In [25]:
def addition(a,b):
    return a+b,a-b,a*b,a/b #tuple ()

add,sub,mul,div= addition(8,4)
print(sub,mul)

4 32

### different types of arguments
1. required positional arguments

In [26]:
def add (a,b):
    return (a+b)

add(10)

TypeError: add() missing 1 required positional argument: 'b'

In [29]:
#default arguments
#default arhuments are at theend od argument list
def add (a,b=100):
    return (a+b)
add(100)
add(200,200)

400

In [31]:
#keyword argument
def add(a,b):
    print("a value:",a)
    print("b value :",b)
    return (a+b)
add(b=10,a=20)

a value: 20
b value : 10

30

In [34]:
# variale length arguments
def add(*a):
    return sum(a)
print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

30
60
100

In [37]:
def add(*a):
    m=1
    for i in a:
        m=m*i
    return m
print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

200
6000
240000

In [36]:
#nested functions: square,cube
def sqr(a):
    return a*a
def cube(x):
    return sqr(x)*x
    
print(sqr(10))
print(cube(10))

100
1000

In [ ]:
#finding factorial using recurssive function:1.factorial &&  fibonacci
def fac(n):
    return n
def fac

## data structures:
1. list:
    -  [] elements sepated by,
    - induxed
    - ordered
    - duplicate values
    - mutable
    - anytype of values

In [38]:
list1=[12,23.4,True,"nbs"]

In [39]:
list1[0]

12

In [41]:
list1[-1]

'nbs'

In [42]:
print(type(list1))

<class 'list'>

In [45]:
#operators supported by list : +,*,[],[:],in,notin
list1 = [1,2,3]
list2 = [4,5,6]
print(list1+list2)#concatination
print(list1*3)
print(list1[2])
print(list1[1:3])
print(2 in list1)
print(200 not in list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
[2, 3]
True
True

In [46]:
#Built-in functions: len(),min(),max(),list()

In [49]:
print(len(list1),min(list1),max(list1))

3 1 3

In [52]:
s1="python"
list2=list(s1)
print(list2)

['p', 'y', 't', 'h', 'o', 'n']

In [54]:
list3="baa"
print(list2+list3)

TypeError: can only concatenate list (not "str") to list

In [55]:
list2

['p', 'y', 't', 'h', 'o', 'baaa']

In [63]:
for num in range(10, 14):

    for i in range(2, num):

        if num%i == 1:

            print(num)

            break

10
11
12
13